:root {
	--color-yellow: #ffd500;
	--color-black: #1a2529;
	--color-royal-blue: #150874;
	--color-red: #dd3333;
	--color-blue: #1e73be;
	--color-mustard: #dd9933;
	--color-teal: #2dbdb6;
}
body {
	font-family: "Roboto Flex";
	font-weight: 900;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	width: 100dvw;
	height: 100dvh;
	overflow: clip;
	background-color: var(--color-yellow);
	/* background: linear-gradient(var(--color-yellow) calc(100% * var(--progress)), transparent calc(100% * var(--progress)));
	transition: background 1s linear; */
	
	/* &::before {
		content: "";
		position: absolute;
		height: 3vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: var(--color-yellow);
		z-index: 999;
	}
	&::after {
		content: "";
		position: absolute;
		height: 3vh;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: var(--color-yellow);
		z-index: 999;
	} */
	
}

ul {
	--item-height: calc(100% / 13);

	--center-offset: calc(50vh - (var(--item-height) / 2));
	--next-offset: calc(var(--item-height) * var(--next-index));
	--progress-offset: calc(var(--progress) * var(--item-height));
	
	list-style: none;
	font-size: min(5em, 15vw);
	width: fit-content;
	margin-inline: auto;
	color: var(--color-black);
	display: grid;
	justify-items: center;
	user-select: none;

	translate: 0 calc(var(--center-offset) - var(--next-offset));
	transition: translate 1s;
	transform-style: preserve-3d;
	
	>li {
		transition: scale 100ms;
		margin-block: 3rem;
		position: relative;
		height: 1em;
		display: grid;
		place-content: center;
		
		&.next {
			--progress-percent: calc(100% * var(--progress));
			scale: 2.5;
			
			background: linear-gradient(var(--color-black) var(--progress-percent), transparent var(--progress-percent));
			background-clip: text;
			color: transparent;
			-webkit-text-stroke: .01em var(--color-black);
		}
		.next + & {
			scale: 1.4;
			translate: 0 .3em;
		}
		&:has(+ .next) {
			scale: 1.4;
			translate: 0 -.3em;
		}
		&:has(~ .next) {
			/* background-image: linear-gradient(135deg, #ddd 25%, transparent 0, transparent 50%, #ddd 0, #ddd 75%, transparent 0, transparent);
			background-size: 20px 20px;
			-webkit-background-clip: text;
			color: rgba(0 0 0 / .5); */
			color: rgb(from var(--color-black) r g b / .7);
			
			&::before {
				content: "";
				translate: -50% -50%;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 110%;
				height: .17em;
				background-color: var(--color-red);
				box-shadow: 0 0 0 .05em var(--color-yellow);
				rotate: -4deg;
				border-radius: .03em;
			}
		}
		.next ~ & {
			color: transparent;
			-webkit-text-stroke: 1px var(--color-black);
		}
	}
}